@use "sass:map";

$breakpoints: (
  xxs: 480px,
  xs: 768px,
  sm: 991px,
  md: 1280px,
  lg: 1920px,
  xl: 5000px,
);

@mixin break($breakpoint) {
  @if map.has-key($breakpoints, $breakpoint) {
    $max-width: map.get($breakpoints, $breakpoint);
    @media screen and (max-width: $max-width) {
      @content;
    }
  } @else {
    @error "Invalid breakpoint: #{$breakpoint}.";
  }
}
